@import url("https://fonts.googleapis.com/css?family=Righteous");

:root {
  --active-color: magenta;
}

html {
  font-size: 16px;
  background: #111111;
  color: white;
  font-family: "Righteous", cursive;
}

.time {
  color: #2d2d2b;
  font-size: 4vw;
  margin: auto;
}

.active {
  color: var(--active-color);
  font-size: 5vw;
  transition: text-shadow 3s;
  text-shadow: 0 0 5px grey;
}

.always-active {
  color: var(--active-color);
  font-size: 5vw;
  text-shadow: 0 0 5px grey;
}

.clock {
  width: 40%;
  margin: auto;
  padding: 10vh 0 0 0;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
